body {
    background-color: #dceaf0;
}

section {
    background-color: #ffffff;
    color: #7a7376;
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

header {
    color: #7a7376;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.5em;
    margin-bottom: 0;
}

h2 {
    font-size: 1em;
    margin-top: 0;
}

input {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    display: block;
    border: none;
    border-bottom: 1px #7a7376 solid;
    margin: 40px auto;
    padding-top: 10px;
    padding-bottom: 5px;
    width: 300px
    
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: bold;
    background-color: #3598db;
    color: white;
    display: block;
    margin: 10px auto;
    padding: 8px 100px;
    border: none;
}

a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 13px;
    color: #7a7376;
}

#forgot {
    display: block;
    text-align: end;
    position: absolute;
    left: 300px;
    top: 220px;
    z-index: 5;
}

#account {
    display: block;
    text-align: center;
}