body {
    background-color: #dceaf0;
}

section {
    background-color: #ffffff;
    color: #7a7376;
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

header {
    color: #7a7376;
    text-align: center;
}

h1 {
    
}

button {
    background-color: #3598db;
    color: white;
}